.headerimg{
	margin-top:100px;
	width:100%;
	height:264px;
	background-image:url("../img/about/history-top.png");
	padding-top:190px;
	padding-left:5%;
	padding-bottom:5%;
	background-size: cover;
}

header h1{
	font-weight:800px;
	font-size:50px;
	text-align: left;
}

.contents{
	margin-top: 30px;
	margin-bottom:30px !important;
	margin-left: 10%;
	margin-right: 10%;
	background-color:rgb(251, 229, 214) !important;
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
	height: auto; /* adjustable */
}

.contents img{
	width: 50%;
	height: 50%;
}

.contents .imgleft{
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contents .imgright{
	float: right;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contents h2{
	margin-bottom: 20px;
	color: rgb(192, 0, 0);	
}

.contents h4{

	color: rgb(102, 153, 0);
	margin-bottom: 20px;
}

.contents p{
	line-height: 2;
	font-size: 14pt;
}



