.headerimg{
	width:100%;
	height:264px;
	background-image:url("../img/about/people-top.png");
	padding-top:190px;
	padding-left:5%;
	padding-bottom:5%;
	background-size: cover;
}

header h1{
	font-weight:800px;
	font-size:50px;
	text-align: left;
}

.contents{
	margin-top: 30px;
	margin-bottom:30px !important;
	margin-left: 10%;
	margin-right: 10%;
	background-color:rgb(251, 229, 214) !important;
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
	height: auto; /* adjustable */
	text-align: center;
}

.contents h2{
	margin-bottom: 20px;
	color: rgb(192, 0, 0);
}

.contents h4{
	color: rgb(102, 153, 0);
	margin-bottom: 20px;
}

.contents p{
	line-height: 2;
	font-size: 14pt;
}

.inner{
	display:block;
	margin-right:2%;
}

.who{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left:0px;
}

.contents .data{
	background-color:rgb(150, 151, 135) !important;
	margin-top:10px;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:2%;
	padding-right:2%;
	margin-left:2%;
}

.data img{
	width:80%;
	height:80%;
	border-radius:50%;
	padding-bottom:10px;
}

.data h1{
	color: rgb(192, 0, 0);
	font-size:18px;
	font-weight:500px;
	line-height: 2;
}

.data p{
	font-size:14pt;
	line-height:1.5;
}

a hover{
	color:#007bff;
}